
.flexcolumn {
  padding: 20px 40px 20px 40px;
}

.titleheader {
  text-align: center;
}

.home-button {
  width: 100%;
  max-width: 500px;
  height: 100px;
  font-size: 24px;
}

.text-button-help {
  max-width: 700px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.home-button mat-icon {
  padding-bottom: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

a {
  color: #ffff;
  text-decoration: none;
}

.list-none li {
  list-style: none;
}
