<div fxLayout="column" fxLayoutAlign="center" class="flexcolumn">
  <section class="titleheader mat-typography margin-bottom-20">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <div fxFlex="0 0 40%" fxFlex.lt-sm="0 0 60%" fxFlex.gt-lg="0 0 30%">
        <img class="margin-top-10 logo-wv" src="assets/img/logoUSAID.png" alt="USAID">
      </div>
      <div fxFlex="0 0 25%" fxFlex.lt-sm="0 0 35%" fxFlex.gt-lg="0 0 20%">
        <img class="margin-top-10 logo-wv" src="assets/img/logovenes.png" alt="VenEsperanza">
      </div>
    </div>
    <h2 class="margin-top-20">
      Venesperanza es un programa de asistencia humanitaria financiado por USAID. Esta plataforma, es un mecanismo de
      registro para hogares de personas que recién llegan a Colombia como migrantes.
      <span class="text-blue text-bold">Este proceso es gratuito.</span>
    </h2>
    <h2 class="text-normal">
      Por favor, continúa sólo si:
      <ul class="list-none">
        <li>1. Eres parte de una familia migrante venezolana o colombiano retornado que llegó a Colombia.</li>
        <li>2. Llevas tres meses o menos en Colombia.</li>
        <li>3. No te has registrado previamente ni tu, ni ningún miembro de tu familia.</li>
      </ul>
    </h2>
    <h2 class="text-normal">
      Tu participación es voluntaria. Puedes decidir no participar o retirarte en cualquier momento del proceso.
    </h2>
    <h2>
      Para continuar haz click aquí:
    </h2>
  </section>
  <section class="titleheader mat-typography">
    <!--
    <div class="margin-top-20 text-center">
      <button mat-raised-button color="primary" class="home-button" routerLink="/encuesta">
        <mat-icon>assignment</mat-icon>
        Llenar formulario
      </button>
      <h3 class="text-button-help margin-bottom-40">Haz click en este botón si vas a llenar la encuesta de registro para
        tu hogar. El objetivo de esta encuesta es valorar si es posible que seas elegido/a para ingresar a programas de
        asistencia humanitaria en el momento en que llegas a tu destino.</h3>
    </div>
    -->
    <div class="margin-top-20 text-center">
      <button mat-raised-button color="primary" class="home-button" routerLink="/actualizar">
        <mat-icon>note_alt</mat-icon>
        Actualizar datos
      </button>
      <h3 class="text-button-help margin-bottom-40">Haz click en este botón <span
        class="text-bold">si ya te registraste</span> y quieres actualizar
        tus datos de contacto como teléfono u otros. El objetivo de este formulario es tener tus datos de contacto
        actualizados, para en caso de elegirte, poderte contactar.</h3>
    </div>
    <div class="margin-top-20 text-center margin-bottom-20">
      <button mat-raised-button color="primary" class="home-button" routerLink="/llegada">
        <mat-icon>assignment_turned_in</mat-icon>
        Reportar llegada
      </button>
      <h3 class="text-button-help">Haz click en este botón <span class="text-bold">si ya te registraste, y llegaste a tu destino</span>.
        El objetivo de este reporte es confirmarnos en qué ciudad te encuentras para analizar la posibilidad de que tu
        hogar sea elegido para recibir asistencia humanitaria. </h3>
    </div>
  </section>
</div>



