
<div fxLayout="column" fxLayoutAlign="center" class="flexcolumn" >
    <section class="titleheader mat-typography ">
      
            <h2  class="text-bold">
                Seleccione una de las siguientes opciones
            </h2>

            <div class="margin-top-20 text-center">
                <button mat-raised-button color="primary" class="accept-button" routerLink="/encuesta">
                    Llenar Formulario
                </button>
            </div>

            <div class="margin-top-20 text-center">
                <button mat-raised-button color="primary" class="accept-button" routerLink="/actualizar" >
                    Actualizar Datos
                </button>
            </div>


            <div class="margin-top-20 text-center">
                <button mat-raised-button color="primary" class="accept-button" routerLink="/llegada">
                   Reportar Llegada
                </button>
            </div>
      
    </section>
</div>



