<div fxLayout="column" fxLayoutAlign="center" class="flexcolumn">
  <section class="titleheader mat-typography margin-bottom-20">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <div fxFlex="0 0 40%" fxFlex.lt-sm="0 0 60%" fxFlex.gt-lg="0 0 30%">
        <img class="margin-top-10 logo-wv" src="assets/img/logoUSAID.png" alt="USAID">
      </div>
      <div fxFlex="0 0 25%" fxFlex.lt-sm="0 0 35%" fxFlex.gt-lg="0 0 20%">
        <img class="margin-top-10 logo-wv" src="assets/img/logovenes.png" alt="VenEsperanza">
      </div>
    </div>
    <h1 class="text-blue text-bold margin-top-20">
      Diligencia la información para actualizar tus datos
    </h1>
    <h2>
      Utiliza este formulario para actualizar tus datos de contacto como teléfono u otros.
    </h2>
  </section>
  <section class="titleheader mat-typography">
    <form [formGroup]="actualizarFormGroup" class="margin-top-20">
      <div class="margin-top-20">
        <mat-form-field class="datoscontacto">
          <mat-label>Tipo de Documento:</mat-label>
          <mat-select formControlName="tipoDocumentoCtrl"
                      (selectionChange)="selectTipoDocumentoMiembro($event)" required>
            <mat-option *ngFor="let documento of tipoDocumentos" [value]="documento.name">
              {{documento.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="margin-top-20">
        <mat-form-field class="datoscontacto">
          <mat-label>Número de Documento</mat-label>
          <input matInput placeholder="Número de Documento" type="text" maxlength="3" maxlength="10"
                 formControlName="numeroDocumentoCtrl"
                 required minlength="3">
        </mat-form-field>
      </div>
      <div class="margin-top-20">
        <mat-form-field class="datoscontacto">
          <mat-label>Teléfono:</mat-label>
          <input matInput type="number" formControlName="telefonoCtrl" (ngModelChange)="validarTelefono($event)"
                 placeholder="Ej: 3131234567" required
                 minlength="7" maxlength="10">
        </mat-form-field>
      </div>
      <div class="margin-top-20">
        <mat-form-field class="datoscontacto">
          <mat-label>Correo electrónico:</mat-label>
          <input matInput formControlName="correoCtrl" type="email"
                 pattern="[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                 (ngModelChange)="validarCorreo($event)"
                 placeholder="Ej: nombreusuario@gmail.com"
                 required>
        </mat-form-field>
      </div>
      <div class="margin-top-20">
        <button color="primary" mat-raised-button [disabled]="saving || !(actualizarFormGroup.status == 'VALID')"
                (click)="enviarInfo()" class="btn-save">
          {{saving ? 'Guardando...' : 'Guardar'}}
        </button>
        <p class="margin-top-10">
          Oprime el botón "Guardar" para salvar la información.
        </p>
        <button mat-raised-button color="warn" class="btn-save" routerLink="/">
          Cancelar
        </button>
      </div>
    </form>
  </section>
</div>
